@charset "UTF-8";

/* ==========================================================================
   Nav
   ========================================================================== */

.sps-nav {
    position: absolute;
    top: 2em;
    right: 2em;
}

.sps-nav ul {
    list-style-type: none;
}

.sps-nav ul li {
    padding: 1em 0;
}

.sps-nav ul li a {
    display: block;
    width: 1.2em;
    height: 1.2em;
    margin: .3em;

    cursor: pointer;
    background: #444;

    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;

    transition: all 250ms ease-in;
}

.sps-nav ul li a.sps-active {
    margin: 0;
    padding: .3em;
}

/* ==========================================================================
   Sections
   ========================================================================== */
.section-page-scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sps-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transition: top 500ms ease-in;
    -moz-transition: top 500ms ease-in;
    transition: top 500ms ease-in;
}

.sps-section.sps-up {
    top: -100%;
}

